
label {
  width: 300px;
  /*font-weight: bold;*/
  display: inline-block;
  /*margin-top: 20px;*/
  margin-top: 0px;
  margin-bottom: 0px;
}

label span {
  font-size: 1rem;
}

label.error {
    color: red;
    font-size: 0.7rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {

  background-color: #007bff !important;
  color: #fff !important;
}

input{
  text-transform: uppercase;
}
.main-sidebar {
  min-height:auto !important;
}

.sidebar{

  height: 1000px;

}

img.img-xs{
  width: 65px;
  height: 60px;
}


img.img-sm{
  width: 200px;
  height: 200px;
}
table{
  text-transform:uppercase;
  font-size: 13px; 
}


.select2-container {
  font-size: 15px; 
} 
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #17a2b8;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.anyClass {
  height:625px;
  /* overflow-y: scroll; */
}